@font-face {
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;

    src: url("../fonts/Circe-Regular.woff") format("woff");
}

@font-face {
    font-family: "Circe";
    font-style: normal;
    font-weight: 800;

    src: url("../fonts/Circe-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Circe";
    font-style: normal;
    font-weight: 700;

    src: url("../fonts/Circe-Bold.woff") format("woff");
}